{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}

{% block header %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block blog_detail %}



<div class="ui raised very padded text container segment" >
  <div class="ui breadcrumb">
    <a class="section" href="{% url 'article_list' %}">主页</a>
    <div class="divider"> / </div>
    <a class="section">{{ article.title }}</a>
  </div>
  <div class="ui clearing divider"></div>

  <div class="ui center aligned large header">{{ article.title }}</div>
  <span><i class="calendar alternate icon"></i>{{ article.published }}</span>
  <span><i class="pencil alternate icon"></i>{{ user }}</span>
  <span><i class="eye icon"></i>{{ article.get_read_num }}</span>
  <span><i class="star icon"></i>{% like_counts article %}</span>
  <span><i class="comments icon"></i>{% comment_counts article %}</span>
  <div class="ui clearing divider"></div>

      <p>{{ article.content | safe }}</p>
  <div class="ui hidden divider"></div>

  <div class="ui center aligned header">
    <div class="ui labeled button" tabindex="0" onclick="likeChange(this,'article',{{ article.pk }})">
      <div class="ui red button">
        {% like_status article as status%}
        {% if status == 'active' %}
        <i class="heart icon"></i> <span class="{{ status }}">已点</span>
        {% else %}
          <i class="heart icon"></i> <span class="{{ status }}">点赞</span>
        {% endif %}
      </div>
      <a class="ui basic red left pointing label">
        {% like_counts article %}
      </a>
    </div>
    <div class="ui labeled button" tabindex="0">
    <div class="ui basic blue button">
      <i class="fork icon"></i> 分享
    </div>
    <a class="ui basic left pointing blue label">
      1,048
    </a>
  </div>
  </div>

  <div>
    {% if previous_article %}
    <div>上一篇：<a href="{% url 'article_detail' previous_article.id%}">{{ previous_article.title }}</a></div>
    {% else %}
    <p>上一篇：暂无</p>
    {% endif %}
    {% if next_article %}
    <div>下一篇：<a href="{% url 'article_detail' next_article.id%}">{{ next_article.title }}</a></div>
    {% else %}
    <p>下一篇：暂无</p>
    {% endif %}
  </div>


  <div class="ui divider"></div>
  {% if user.is_authenticated %}
  <form action="{% url 'submitComment' %}" method="POST" class="ui reply form" id="comment">
    {% csrf_token %}
  {#    {% for field in comment_form %}#}
    {% comment_form article as cf %}
    {%  for field in cf %}
        {{ field }}
    {% endfor %}
    <div>
      <input type="submit" value="发表" class="ui large blue horizontal label">
      <a id="comment_error" class="ui sub disabled red header"></a>
    </div>
  </form>
  {% else %}
    参与评论，请先
  <div class="ui mini buttons">
    <button class="ui button"><a href="{% url 'login' %}">登录</a></button>
    <div class="or"></div>
    <button class="ui button"><a href="{% url 'register' %}">注册</a></button>
  </div>
  {% endif %}
  <div class="ui hidden divider"></div>

  <h3 class="ui dividing header" >评论</h3>
  <div class="ui comments" id="comment_list">

  {#    {% for comment in comments %}#}
    {% comment_list article as comments %}
    {% for comment in comments %}
    <div class="comment" id="root_{{ comment.pk }}">
      <a class="avatar">
        <img src="../images/avatar/small/elliot.jpg">
      </a>
      <div class="content">
        <a class="author">{{ comment.user.username }}</a>
        <div class="metadata">
          <span class="date">{{ comment.commentTime | date:"Y-m-d H:i:s" }}</span>
        </div>
        <div class="text">
          <p>{{ comment.commentText|safe }}</p>
        </div>
        <div class="actions">
          <a class="reply" href="javascript:reply({{ comment.pk }});">Reply</a>
        </div>
      </div>

      <div class="comments" id="child_{{ comment.pk }}">
        {% for reply in comment.root_comment.all %}
        <div class="comment">
          <a class="avatar">
            <img src="../images/avatar/small/jenny.jpg">
          </a>
          <div class="content">
            <a class="author"> {{ reply.user.username }}  回复：{{ reply.reply_to.username }}</a>
            <div class="metadata">
              <span class="date">{{ reply.commentTime | date:"Y-m-d H:i:s"}}</span>
            </div>
            <div class="text">
              {{ reply | safe }}
            </div>
            <div class="actions">
              <a class="reply" href="javascript:reply({{ reply.pk }});">Reply</a>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
    {% empty %}
    <p>暂无</p>
    {% endfor %}
  {#    </div>#}
  </div>
</div>


<div class="ui modal">
  <div class="header">标题</div>
  <div class="content">
    <p></p>
  </div>
  <div class="actions">
    <div class="ui approve button"><a href="{% url 'login' %}">批准</a></div>
    <div class="ui cancel button">取消</div>
  </div>
</div>

{% endblock %}


{% block comment_script %}
<script>
$('#comment').submit(function () {
  $("#comment_error").text('');
  if(CKEDITOR.instances["id_commentText"].document.getBody().getText().trim()==''){
      $("#comment_error").text('评论内容不能为空');
      //return false;
  }
  CKEDITOR.instances['id_commentText'].updateElement();
  $.ajax({
    url:"{% url 'submitComment' %}",
    type:'POST',
    cache: false,
    data:$(this).serialize(),
    success:function (data) {
      if (data['status']=="SUCCESS"){
        currentTime = data['commentTime']
        console.log(currentTime)
        if($('#reply_id').val()=='0'){
          var comment_html = '<div class="comment" id="root_'+data['pk']+'"><a class="avatar"><img src=""></a><div class="content"><a class="author">'+ data['user'] +'</a><div class="metadata"><span class="date">'+ data['commentTime'] +'</span></div><div class="text"><p>'+ data['commentText'] +'</p></div><div class="actions"><a class="reply" href="javascript:reply('+data['pk']+');">Reply</a></div></div><div class="comments" id="child_'+data['pk']+'"></div></div>';
          $('#comment_list').prepend(comment_html);
        }else {
          var reply_html =   '<div class="comment"><a class="avatar"><img src=""></a><div class="content"><a class="author">'+data['user']+' 回复：'+data['reply_to']+'</a><div class="metadata"><span class="date">'+ data['commentTime'] +'</span></div><div class="text">'+ data['commentText'] +'</div><div class="actions"><a class="reply" href="javascript:reply('+data['pk']+');">Reply</a></div></div></div>';
          var jq_id = "#child_"+data['root_pk'];
          $(jq_id).append(reply_html);
        }
        // 清空编辑框的内容
      CKEDITOR.instances['id_commentText'].setData('');
      }
    },
    error:function (xhr) {
      console.log("错误返回",xhr)
    },
  });
  return false
});

function reply(reply_id) {
  $('#reply_id').val(reply_id);
  $('html').animate({scrollTop:$('#comment').offset().top-30},function () {
    CKEDITOR.instances["id_commentText"].focus()
  })
}

function likeChange(obj,content_type,object_id) {
  ele = obj.getElementsByClassName('active');
  var is_like = ele.length == 0;
  $.ajax({
    url:"{% url 'likeChange' %}",
    type:'GET',
    cache: false,
    data:{
      content_type:content_type,
      object_id:object_id,
      is_like:is_like
    },
    success:function (data) {
      if (data['status']=='SUCCESS'){
        var element = $(obj.getElementsByTagName('span'));
        if(is_like){
            element.addClass('active');
            element.text('已点')
        }else{
            element.removeClass('active');
            element.text('点赞')
        }
        var liked_num = $(obj.getElementsByTagName('a'));
        liked_num.text(data['like_num']);
      }else {
        $('.ui.modal')
  .modal('show')
;
      }
    },
    error:function (xhr) {
      console.log(xhr)
    }
  });
}



</script>
{% endblock %}






