{% extends 'base.html' %}

{% block login %}

<div class="ui four column centered grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">登录</div>
    </h2>
    <form action="" method="post" class="ui large form">
      {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          {{ login_form.email }}
        </div>

        <div class="field">{{ login_form.password }}</div>


        <div class="field">
          <span style="width: 60%;float: left">{{ login_form.captcha }}</span>
          <span id="captcha" style="float: left;cursor: pointer"><img src="{% url 'img_captcha' %}" style="height: 37px"></span>
        </div>

        <div class="inline field">
          <div class="ui checkbox">{{ login_form.remember }}<label>记住我</label></div>
        </div>

        <input class="ui fluid large teal submit button" type="submit" value="登录">

      </div>
    </form>
    <div class="field">
      <div class="ui error message">
      {{ login_form.non_field_errors }}
      {% for field in login_form %}
        {{ field.errors }}
      {% endfor %}
      <span>还没账号，请先</span><a href="{% url 'login' %}">注册</a>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  </div>

</div>

{% endblock %}

{% block login_script %}
<script>
  $('#captcha').click(function () {
    $('#captcha img').attr('src','/account/captcha/?random='+Math.random())
  });


</script>
{% endblock %}
