{% extends 'base.html' %}

{% block register %}

<div class="ui three column centered grid">
  <div class="column">
    <div class="ui form segment">
      <div class="ui teal center aligned large header">
        注册
      </div>

      <form  action="" method="post">
          {% csrf_token %}
          {% for field in register_form %}
        <div class="field">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          <p>{{ field.errors.as_text }}</p>
        </div>
        {% endfor %}

        <span >{{ register_form.non_field_errors }}</span>
        <input type="submit" class="ui fluid large teal submit button">
      </form>

      <div class="ui message">
        新用户？ <a href="login.php#">注册</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}