{% extends 'base.html' %}
{% block userInfo %}


<div class="ui two column stackable center aligned grid" style="height: 500px">
  <div class="ui bottom attached segment pushable">
    <div class="ui visible inverted left vertical sidebar menu">
      <a class="item">
        <i class="home icon"></i>
        主页
      </a>
      <a class="item">
        <i class="block layout icon"></i>
        话题
      </a>
      <a class="item">
        <i class="smile icon"></i>
        朋友
      </a>
      <a class="item">
        <i class="calendar icon"></i>
        历史
      </a>
    </div>
    <div class="pusher">
      <div class="ui basic segment">
        <div class="ui list">
        <div class="item">昵称：
          {% if user.nickname %}
            <p>{{ user.nickname }}</p>
          {% else %}
            <p>未设置</p>
          {% endif %}
          <a id="update_nickname">修改</a>
        </div>
        <div class="item">邮箱：{{ user.email }}</div>
        <div class="item">上次登录：{{ user.last_login }}</div>
        <div class="item">性别：{{ user.sex }}<a id="update_sex">修改</a></div>
      </div>
      </div>

    </div>
  </div>
</div>

<div class="ui modal" id="model">


</div>
{% endblock %}


{% block logout_script %}
<script>
  $('.visible.example .ui.sidebar')
  .sidebar({
    context: '.visible.example .bottom.segment'
  })
  .sidebar('hide')
;

$('#update_nickname').click(function () {
  $('.ui.modal')
  .modal('show');
  var form1_title = {{ form1_title }}
  var shtml='<div class="header" id="model_title">'+form1_title+'</div> <div class="content"> <form action=""> <div class="ui input"></div> <input type="submit" value="确定"> </form> </div> <div class="actions"> <div class="ui red cancel inverted button"> <i class="remove icon"></i>取消 </div> </div>';
  $('#model').append(shtml)
});

$('#update_sex').click(function () {
  $('.ui.modal')
  .modal('show');
  $('form').attr("action","{% url 'change_sex' %}")
});
</script>
{% endblock %}
